/* Outfit – variable font */
@font-face {
  font-family: 'Outfit';
  src: url('~/assets/fonts/Outfit/Outfit-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
}

/* Gilmer – static weights */
@font-face {
  font-family: 'Gilmer';
  src: url('~/assets/fonts/Gilmer/static/Gilmer Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilmer';
  src: url('~/assets/fonts/Gilmer/static/Gilmer Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilmer';
  src: url('~/assets/fonts/Gilmer/static/Gilmer Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilmer';
  src: url('~/assets/fonts/Gilmer/static/Gilmer Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilmer';
  src: url('~/assets/fonts/Gilmer/static/Gilmer Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilmer Outline';
  src: url('~/assets/fonts/Gilmer/static/Gilmer Outline.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
