@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  /* Fonts*/
  --font-gilmer: 'Gilmer', sans-serif;
  --font-outfit: 'Outfit', sans-serif;

  /* Base*/
  --color-white: #ffffff;
  --color-black: #000000;

  /* Background */
  --color-background: #fafafa;
  --color-neutral-100: #fafafa;
  --color-neutral-100-alt: #a1e6ec;
  --color-item-lumination: #f7f7f7;

  /* Grey */
  --color-grey-25: #fafafa;
  --color-grey-50: #f7f7f7;
  --color-grey-100: #f5f5f5;
  --color-grey-200: #e8e8e8;
  --color-grey-300: #d1d1d1;
  --color-grey-400: #a3a3a3;
  --color-grey-500: #7b7b7b;
  --color-grey-600: #5c5c5c;
  --color-grey-700: #333333;
  --color-grey-800: #292929;
  --color-grey-900: #1c1c1c;
  --color-grey-950: #171717;

  /* Primary / Brand Color  */
  --color-primary-50: #c9fbff;
  --color-primary-100: #b5f1f6;
  --color-primary-200: #a1e6ec;
  --color-primary-300: #79d1d9;
  --color-primary-400: #28a8b3;
  --color-primary-500: #0093a0;
  --color-primary-600: #007680;
  --color-primary-700: #006060;
  --color-primary-800: #002c30;
  --color-primary-900: #001e20;

  /* Text */
  --color-text-50: #a3a3a3;
  --color-text-100: #a3a3a3;
  --color-text-200: #7b7b7b;
  --color-text-300: #5c5c5c;
  --color-text-400: #333333;
  --color-text-500: #171717;
  --color-text-600: #171717;
  --color-text-700: #171717;
  --color-text-800: #171717;
  --color-text-900: #171717;
  --color-soft: #a3a3a3;

  /* Success */
  --color-success-50: #ebfef3;
  --color-success-100: #d2fde5;
  --color-success-200: #a8facc;
  --color-success-300: #64f5a6;
  --color-success-400: #00e97b;
  --color-success-500: #00ce5c;
  --color-success-600: #00a348;
  --color-success-700: #007e3a;
  --color-success-800: #006331;
  --color-success-900: #00502a;
  --color-success-950: #002b17;

  /* Warning */
  --color-warning-50: #fefce6;
  --color-warning-100: #fff9c0;
  --color-warning-200: #fff08a;
  --color-warning-300: #ffdf54;
  --color-warning-400: #ffc939;
  --color-warning-500: #f0af30;
  --color-warning-600: #ca8225;
  --color-warning-700: #9f591b;
  --color-warning-800: #834518;
  --color-warning-900: #703816;
  --color-warning-950: #261108;

  /* Error */
  --color-error-50: #fff0f0;
  --color-error-100: #ffdede;
  --color-error-200: #ffc3c4;
  --color-error-300: #ff9a9b;
  --color-error-400: #ff6466;
  --color-error-500: #fe393b;
  --color-error-600: #f01d21;
  --color-error-700: #c4171b;
  --color-error-800: #a01518;
  --color-error-900: #841517;
  --color-error-950: #0c0404;

  /* Info */
  --color-info-50: #ecf7fe;
  --color-info-100: #d4ebfc;
  --color-info-200: #b3d9fa;
  --color-info-300: #80bff9;
  --color-info-400: #4797f6;
  --color-info-500: #4797f6;
  --color-info-600: #1d72f1;
  --color-info-700: #005ad7;
  --color-info-800: #0048ab;
  --color-info-900: #0c2b86;
}

:root {
  /* Primary color */
  --ui-color-primary: var(--color-primary-500);
  --ui-color-primary-500: var(--color-primary-500);
}

/* Elements */

span.iconify {
  &.size-1 {
    width: calc(var(--spacing) * 1);
    height: calc(var(--spacing) * 1);
  }
  &.size-2 {
    width: calc(var(--spacing) * 2);
    height: calc(var(--spacing) * 2);
  }
  &.size-3 {
    width: calc(var(--spacing) * 3);
    height: calc(var(--spacing) * 3);
  }
  &.size-4 {
    width: calc(var(--spacing) * 4);
    height: calc(var(--spacing) * 4);
  }
  &.size-5 {
    width: calc(var(--spacing) * 5);
    height: calc(var(--spacing) * 5);
  }
  &.size-6 {
    width: calc(var(--spacing) * 6);
    height: calc(var(--spacing) * 6);
  }
  &.size-7 {
    width: calc(var(--spacing) * 7);
    height: calc(var(--spacing) * 7);
  }
  &.size-8 {
    width: calc(var(--spacing) * 8);
    height: calc(var(--spacing) * 8);
  }

  &.size-10 {
    width: calc(var(--spacing) * 10);
    height: calc(var(--spacing) * 10);
  }

  &.size-12 {
    width: calc(var(--spacing) * 12);
    height: calc(var(--spacing) * 12);
  }

  &.size-14 {
    width: calc(var(--spacing) * 14);
    height: calc(var(--spacing) * 14);
  }

  &.size-16 {
    width: calc(var(--spacing) * 16);
    height: calc(var(--spacing) * 16);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert;
  font-weight: revert;
  font-family: var(--font-gilmer);
}

html {
  font-family: var(--font-outfit);
}

/* Transitions */

/* Fade Transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.6s ease-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

/* Slide Up Transition */
.slide-up-enter-active,
.slide-up-leave-active {
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(20px);
}

.slide-up-enter-to,
.slide-up-leave-from {
  opacity: 1;
  transform: translateY(0);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

/* Slide Down Transition */
.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.slide-down-enter-from,
.slide-down-leave-to {
  max-height: 0;
  opacity: 0;
}

.slide-down-enter-to,
.slide-down-leave-from {
  max-height: 500px;
  opacity: 1;
}

/* Utilities */
